/* Réinitialiser les marges et les paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    z-index: 999;
}

/* Style de base pour l'en-tête !import z-index pour menu */
header {
    z-index: 10;
    width: 100%;
    background-color: #fff;
    position: fixed;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid black;
}

/* Style de base pour l'en-tête */

header, .image-box, body, html {
    overflow: visible !important;
}

/* La barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between; /* Logo à gauche, liens à droite */
    align-items: center;
}

/* Style du logo */
.logo {
    font-size: 2em;
    font-weight: bold;
    background: -webkit-linear-gradient(green, #55ea8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo a {
    text-decoration: none;
    color: green;
    margin: 20px;
}

.logo span {
    color: aliceblue;
}

/* Style du menu */
.menu ul {
    list-style: none;
    display: flex;
}

/* Espacement des liens du menu */
.menu ul li {
    margin-left: 20px;
}

/* Style des liens */
.menu ul li a {
    text-decoration: none;
    background: -webkit-linear-gradient(green, #55ea8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;

}

.menu ul li a:hover {
    border-bottom: #4cb873 2px solid;
    border-radius: 2px;
    padding-bottom: 10px;
}

/* Style du menu burger (non visible by default) */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Le menu burger s'affiche en dessous de 768px */
@media (max-width: 768px) {
/* Cacher le menu normal */
    .menu {
        display: none;
    }
/* Afficher le burger */
    .burger {
        display: flex;
    }

/* Menu en sm media size !important z-index pour le menu */
    .menu.active {
        z-index: 1000;
        display: block;
        position: absolute;
        top: 56px;
        right: 0;
        background-color: white;
        width: auto;
        min-width: 150px; 
        text-align: right;
        border: 1px solid green;
        border-radius: 5px;
        box-shadow: black 1 1 2px;    
    }

/* Le menu s'affiche verticalement */
    .menu.active ul {
        flex-direction: column;
        margin-right: 20px;
    }

    .menu.active ul li {
        margin: 15px 0;
        margin-left: 1em;
    }
}

/* Conteneur de la box */
.image-box {
    display: flex;
    position: relative;
    width: 100%; 
    height: 40em; 
    background-image: url('../images/banner1.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    align-items: flex-end;
    justify-content: flex-end;

}

/* Content de la box */
.image-box-content {

    text-align: right;
    padding: 20px;
    margin-right: 30px;
    color: aqua;
}
/* Modification du h2 dans la box */
.image-box-content h2 {
    font-size: 3em;
    color: aliceblue;
    
}
/* Modification du p dans la box */
.image-box-content p {
    font-size: 4em;
    font-weight: bold;
    background: -webkit-linear-gradient(aliceblue, #f5f76f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}